// Buttons
// =====

$primary-color: #34FF85;
$text-color: #272727;

@mixin button-text-color {
    color: $text-color !important;
}

@mixin button-background-color {
    background-color: $primary-color;
    border-color: $primary-color;
}

.slds-button_brand {
    @include button-text-color;
    @include button-background-color;

    &:hover {
        @include button-text-color;
        background-color: #CCFFE1;
    }

    &:active {
        @include button-text-color;
        @include button-background-color;
    }
}